@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
  opacity: 0.75;
}

.accordion *:not(button) {
  color: #000;
}

.accordion-button {
  font-weight: bold;
}

.code {
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
  background-color: rgb(94, 93, 93);
  padding: 2px 5px;
  border-radius: 3px;
  margin: 0 2px;
}

.indent {
  margin-left: 40px;
}

.image {
  display: block;
  width: 500px;
  height: auto;
}

.highlight-text {
  font-style: italic;
  font-weight: bold;
}
